<app-header></app-header>

<section class="wellcome_area clearfix" id="home">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 col-md">
              <div class="wellcome-heading">
                <h2>LOGIN </h2>
                <h3>IDMS</h3>
<!--                 
                https://codepen.io/anon/pen/GBbQZr -->
                
                <form class="form-1">
                  <p class="field">
                    <input type="text" name="login" placeholder="Username or email">
                    <i class="icon-user icon-large"></i>
                  </p>
                    <p class="field">
                      <input type="password" name="password" placeholder="Password">
                      <i class="icon-lock icon-large"></i>
                  </p>        
                  <p class="submit">
                      <button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
                  </p>
                </form>














<!-- 
<form>
    <div class="input-section email-section">
      <input class="email" type="email" value="" placeholder="ENTER YOUR E-MAIL HERE" autocomplete="off"/>
      <div class="animated-button"><span class="icon-paper-plane"><i class="fa fa-envelope-o"></i></span><span class="next-button email"><i class="fa fa-arrow-up"></i></span></div>
    </div>
    <div class="input-section password-section folded">
      <input class="password" type="password" placeholder="ENTER YOUR PASSWORD HERE"/>
      <div class="animated-button"><span class="icon-lock"><i class="fa fa-lock"></i></span><span class="next-button password"><i class="fa fa-arrow-up"></i></span></div>
    </div>
    <div class="input-section repeat-password-section folded">
      <input class="repeat-password" type="password" placeholder="REPEAT YOUR PASSWORD HERE"/>
      <div class="animated-button"><span class="icon-repeat-lock"><i class="fa fa-lock"></i></span><span class="next-button repeat-password"><i class="fa fa-paper-plane"></i></span></div>
    </div>
    <div class="success"> 
      <p>ACCOUNT CREATED</p>
    </div>
  </form> -->












                              </div>
          </div>
      </div>
  </div>
  <!-- Welcome thumb -->
  <!-- <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
      <img src="img/bg-img/welcome-img.png" alt="">
  </div> -->
</section>
